* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}
body {
  font: 400 16px/1.4 'Helvetica Neue', Helvetica, Arial;
  background: #fff;
  color: #222;
}
 

main {
	padding: 1em;
}